version: '3'
services:
  # temp-web-server:
  #   build: .
  #   restart: always
  #   volumes:
  #     - ./public_html/index.html:/public_html/index.html
  #   ports:
  #     - 80:80

  frontend:
      restart: unless-stopped
      image: staticfloat/nginx-certbot
      ports:
          - 80:80/tcp
          - 443:443/tcp
      environment:
          CERTBOT_EMAIL: owner@company.com
          # variable names are space-separated
          ENVSUBST_VARS: FQDN
          FQDN: fapi.litekart.in
      volumes:
        - ./conf.d:/etc/nginx/user.conf.d:ro
        - letsencrypt:/etc/letsencrypt
volumes:
    letsencrypt: